a {font-weight: bold}

.site-frame {
  @include grid-frame($orientation: vertical);
  background-blend-mode: screen;
  background-position: center center;
  background-size: cover;
  &.home {background-image: url(../img/third-rail-night-alive.jpg);}
  &.home, &.contact {
    background-color: $primary-color;
    color: $white;
    h1, h2, h3, h4, h5, h6, a {color: $white}
    hr {border-color: $white}
    a:hover, a:focus {color: $secondary-color}
    .site-nav {
      > li > a {
        &:hover, &:focus {
          background: $white;
          color: $primary-color;
        }
      }
    }
    .social-list {
      li a {
        border-color: $white;
        &:hover, &:focus {
          background-color: $white;
          color: $primary-color;
        }
      }
    }
    .page-title:after {background-color: $white}
  }
/*
  &.about {
    background-color: $secondary-color;
    hr {border-color: $white}
    .page-title:after {background-color: $white}
  }
*/
}

.site-nav-content {
  @include grid-content($size: shrink);
  font-family: $header-font-family;
  padding: 0;
}

.site-nav {
  @extend %menu-bar;
  @include menu-bar-style(
    $background: transparent,
    $background-hover: $black,
    $background-active: $primary-color,
    $color: $black,
    $color-hover: $secondary-color,
    $color-active: $white,
    $autocolor: false 
  );
  > li > a {
    font-weight: bold;
    text-transform: uppercase;
    transition: all 300ms ease;
  }
}

.social-list {
  list-style-type: none;
  li {
    display: inline-block;
    a {
      @extend %button;
      @include button-size($size: large);
      @include button-style($color: $black, $style: hollow);
      border-color: $black;
      border-radius: 2px;
      border-width: 2px;
      color: $black;
      font-size: rem-calc(20);
      padding: rem-calc(8 10);
      &:hover, &:focus {
        border-color: $black;
        background-color: $black;
        color: $secondary-color;
      }
    }
  }
}

.home-container {
  @include grid-container();
  margin-top: 20vh;
  text-align: center;
  h1 {
    font-size: rem-calc(64);
    @include breakpoint(medium down) {font-size: rem-calc(44)}
  }
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: rem-calc(32);
  position: relative;
  &:after {
    content: "";
    height: 1px;
    background-color: $gray;
    width: 15vw;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.photo {
  background: $white;
  box-shadow: 0 0 12px rgba($black, .25);
  margin-bottom: rem-calc(12);
  padding: rem-calc(8);
  &.align-right, &.align-left, &.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75vw;
    text-align: center;
  }
  &.align-left {
    @include breakpoint(medium) {
      float: left;
      margin-right: rem-calc(16);
    }
  }
  &.align-right {
    @include breakpoint(medium) {
      float: right;
      margin-left: rem-calc(16);
    }
  }
}

.resume-list {
  @include grid-block;
  @include grid-layout(2);
  @include breakpoint(medium) {@include grid-layout(4)};
}

.resume-heading {
  background-color: $primary-color;
  color: $white;
  margin-bottom: rem-calc(16);
  padding: rem-calc(4 8);
  .subheader {
    color: $secondary-color;
    font-size: 80%;
  }
}