---
name: acting-resume
url: /acting-resume
---

<div ng-controller="ActingResume as actingResumeCtrl" class="grid-container">
  <h1 class="page-title">Acting Resume</h1>
  <p class="text-center">
	  <span ng-repeat="vital in actingResumeCtrl.resume.vitals">{{vital.key}} <strong>{{vital.data}}</strong>{{$last ? '' : ' // '}}</span>
	</p>
  <h4 class="resume-heading">Theater <span class="subheader">// Selected Roles</span></h4>
  <div class="resume-list">
    <div ng-repeat-start="role in actingResumeCtrl.resume.theaterRoles" class="grid-block"><em>{{role.show}}</em></div>
    <div class="gird-block">{{role.character}}</div>
    <div class="gird-block">{{role.company}}</div>
    <div ng-repeat-end class="gird-block">{{role.director}}</div>
  </div>
  <h4 class="resume-heading">Film &amp; Television</h4>
  <div class="resume-list">
    <div ng-repeat-start="project in actingResumeCtrl.resume.filmAndTvRoles" class="grid-block"><em>{{project.project}}</em></div>
    <div class="gird-block">{{project.role}}</div>
    <div class="gird-block">{{project.medium}}</div>
    <div ng-repeat-end class="gird-block">{{project.producer}}</div>
  </div>
  <h4 class="resume-heading">Training</h4>
  <h5 ng-repeat-start="training in actingResumeCtrl.resume.training">{{training.institution}} // <span class="subheader">{{training.degree}} - {{training.major}}<span ng-show="training.focus"> - {{training.focus}}</span></span></h5>
  <h6 ng-show="training.school">{{training.school}}</h6>
  <ul ng-repeat-end ng-show="training.areasOfStudy" class="no-bullet">
    <li ng-repeat="areaOfStudy in training.areasOfStudy"><strong>{{areaOfStudy.field}}</strong> // <span ng-repeat="instructor in areaOfStudy.instructors">{{instructor}}{{$last ? '' : ', '}}</li>
  </ul>
  <h4 class="resume-heading">Special Skills</h4>
  <p><span ng-repeat="skill in actingResumeCtrl.resume.skills">{{skill}}{{$last ? '' : ' &middot '}}</p>
</div>