---
name: work
url: /work
title: Work
---

<div class="grid-container">
  <h1 class="page-title">Work</h1>
  <div class="grid-block small-up-1 medium-up-2">
	  <div class="grid-content">
		  <h4 class="about-heading">Acting</h4>
		  <ul class="button-group expand segmented">
		    <li><a ui-sref="acting-resume">Resume</a></li>
		    <li><a ui-sref="headshots">Headshots</a></li>
		  </ul>
	  </div>
	  <div class="grid-content">
		  <h4 class="about-heading">Web Development</h4>
		  <ul class="button-group expand segmented">
		    <li><a ui-sref="professional-resume">Resume</a></li>
		    <li><a ui-sref="portfolio">Portfolio</a></li>
		  </ul>
	  </div>
  </div>
</div>
