---
name: work
url: /work
---

<div class="grid-container">
  <h1>Work</h1>
  <p>I am an <strong>actor</strong> | <strong>producer</strong> | <strong>web developer</strong> | <strong>music lover</strong> in Portland, OR</p>
  <ul>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
  </ul>
</div>
