---
name: work
url: /work
---

<div class="grid-container">
  <h1 class="page-title">Work</h1>
  <div zf-tabs="">
    <div zf-tab="" title="Acting">
      Acting
      <blockquote>Rolland Walsh makes an irrepressible, even madcap Chris, the sort of fellow who injects every situation and conversation with life and surprise<cite>Barry Johnson, Oregon ArtsWatch</cite></blockquote>
      <a href="http://www.orartswatch.org/third-rail-the-ghost-in-the-static/" title="Third Rail: The Ghost in Static">Read More</a>
      <blockquote>Rolland Walsh shows up, swinging his fists and his attitude with equally derisive precision<cite>Bob Hicks, Oregon ArtsWatch</cite></blockquote>
      <a href="http://www.orartswatch.org/let-the-night-light-shine/" title="Let the ‘Night’ light shine">Read More</a>
      <blockquote>Rolland Walsh's Kenneth has a certain amount of charm even as he menaces, but when he goes after Doc, he is truly horrifying<cite>Richard Wattenberg, The Oregonian</cite></blockquote>
      <a href="http://www.oregonlive.com/performance/index.ssf/2015/02/the_night_alive_a_contemporary.html" title="'The Night Alive' a contemporary fairy tale, artfully crafted">Read More</a>
      <blockquote>Rolland Walsh is hilarious<cite>Barry Johnson, Oregon ArtsWatch</cite></blockquote>
      <a href="http://www.orartswatch.org/noises-off-is-farces-all-the-way-down/" title="‘Noises Off’ is farces all the way down">Read More</a>
    </div>
    <div zf-tab="" title="Web Development">
      Web Development
    </div>
    <div zf-tab="" title="Producing">
      Producing
    </div>
  </div>
</div>
